{% extends 'theme.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>fees</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input class="form-control form-control-lg" type="date" name="date" placeholder="Enter date No:">
        <button type="submit" class="btn btn-success mt-3">Search</button>
      </form>
      <br>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">invoiceNo</th>
          <th scope="col">fees</th>
          <th scope="col">duedate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{sum.Invoiceno}}</th>
          <td>{{sum.fees}}</td>  
          <td>{{sum.duedate}}</td>
        </tr>
        <tr>
        </tbody>
        </table>
</body>
</html>
{% endblock %}